<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		SG9zdCBicmlkZ2UA
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBIb3N0IEJyaWRnZS9EUkFNIENvbnRyb2xsZXIA
		</data>
		<key>name</key>
		<data>
		RFJBTQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZW0gUENJIEV4cHJlc3MgeDE2IENvbnRyb2xsZXIA
		</data>
		<key>name</key>
		<data>
		UEVHMAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		U2xvdC0gMQA=
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		QU1EIE5hdmkgMTAgUENJIEV4cHJlc3MgVXBzdHJlYW0gU3dpdGNoIFBvcnQA
		</data>
		<key>name</key>
		<data>
		RUdQMAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		U2xvdC0gMQA=
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		QU1EIE5hdmkgMTAgUENJIEV4cHJlc3MgRG93bnN0cmVhbSBTd2l0Y2ggUG9y
		dAA=
		</data>
		<key>name</key>
		<data>
		RUdQMQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>@0,AAPL,boot-display</key>
		<data>
		AQAAAA==
		</data>
		<key>@0,ATY,EFIDisplay</key>
		<data>
		RFAxAA==
		</data>
		<key>@0,name</key>
		<data>
		QVRZLEtlZWxiYWNrAA==
		</data>
		<key>@1,name</key>
		<data>
		QVRZLEtlZWxiYWNrAA==
		</data>
		<key>@2,name</key>
		<data>
		QVRZLEtlZWxiYWNrAA==
		</data>
		<key>@3,name</key>
		<data>
		QVRZLEtlZWxiYWNrAA==
		</data>
		<key>AAPL,slot-name</key>
		<data>
		U2xvdC0gMQA=
		</data>
		<key>AAPL00,DualLink</key>
		<data>
		AQAAAA==
		</data>
		<key>ATY,EFIEnabledMode</key>
		<data>
		AQ==
		</data>
		<key>ATY,EFIVersion</key>
		<string>30.0.101.1340</string>
		<key>ATY,EFIVersionB</key>
		<string>017.002.000.000.037636</string>
		<key>ATY,copyright</key>
		<string>Copyright AMD Inc. All Rights Reserved. 2005-2019</string>
		<key>CFG,CFG_USE_AGDC</key>
		<data>
		AQ==
		</data>
		<key>device_type</key>
		<data>
		VkdBIGNvbXBhdGlibGUgY29udHJvbGxlcgA=
		</data>
		<key>hda-gfx</key>
		<data>
		b25ib2FyZC0yAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x1)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		U2xvdC0gMQA=
		</data>
		<key>device_type</key>
		<data>
		QXVkaW8gZGV2aWNlAA==
		</data>
		<key>model</key>
		<data>
		QU1EIE5hdmkgMTAgUENJIEV4cHJlc3MgSGlnaCBEZWZpbml0aW9uIEF1ZGlv
		IENvbnRyb2xsZXIA
		</data>
		<key>name</key>
		<data>
		SERBVQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>acpi-wake-type</key>
		<data>
		AQ==
		</data>
		<key>device_type</key>
		<data>
		VVNCIGNvbnRyb2xsZXIA
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBVU0IgMy4yIHhIQ0kgSG9zdCBDb250cm9sbGVy
		AA==
		</data>
		<key>name</key>
		<data>
		WEhDAA==
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		Q29tbXVuaWNhdGlvbiBjb250cm9sbGVyAA==
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBIRUNJIENvbnRyb2xsZXIA
		</data>
		<key>name</key>
		<data>
		SU1FSQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>compatible</key>
		<data>
		cGNpODA4NixhMzUyAA==
		</data>
		<key>device_type</key>
		<data>
		U0FUQSBjb250cm9sbGVyAA==
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBTQVRBL0FIQ0kgQ29udHJvbGxlcgA=
		</data>
		<key>name</key>
		<data>
		U0FUQQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQQ0kgRXhwcmVzcyBSb290IFBvcnQgMjAA
		</data>
		<key>name</key>
		<data>
		UlAyMAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1B,0x4)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQQ0kgRXhwcmVzcyBSb290IFBvcnQgMjEA
		</data>
		<key>name</key>
		<data>
		UlAyMQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQQ0kgRXhwcmVzcyBSb290IFBvcnQgMwA=
		</data>
		<key>name</key>
		<data>
		UlAwMwA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x0)/Pci(0x0,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		TTJfV2lmaQA=
		</data>
		<key>built-in</key>
		<data>
		AQ==
		</data>
		<key>device_type</key>
		<data>
		TmV0d29yayBjb250cm9sbGVyAA==
		</data>
		<key>model</key>
		<data>
		QnJvYWRjb20gQkNNNDM2MCA4MDIuMTFhYyBXaXJlbGVzcyBOZXR3b3JrIEFk
		YXB0ZXIA
		</data>
		<key>name</key>
		<data>
		QVJQVAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x3)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQQ0kgRXhwcmVzcyBSb290IFBvcnQgNAA=
		</data>
		<key>name</key>
		<data>
		UlAwNAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x3)/Pci(0x0,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		RXRoZXJuZXQA
		</data>
		<key>built-in</key>
		<data>
		AQ==
		</data>
		<key>device_type</key>
		<data>
		RXRoZXJuZXQgY29udHJvbGxlcgA=
		</data>
		<key>model</key>
		<data>
		UmVhbHRlayBSVEw4MTI1IEdhbWluZyAyLjVHYkUgRmFtaWx5IEV0aGVybmV0
		IENvbnRyb2xsZXIA
		</data>
		<key>name</key>
		<data>
		UlRMSwA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x4)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQQ0kgRXhwcmVzcyBSb290IFBvcnQgNQA=
		</data>
		<key>name</key>
		<data>
		UlAwNQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		U2xvdC0gMwA=
		</data>
		<key>acpi-wake-type</key>
		<data>
		AQ==
		</data>
		<key>device_type</key>
		<data>
		VVNCIGNvbnRyb2xsZXIA
		</data>
		<key>model</key>
		<data>
		VklBIFVTQiAzLjAgZVh0ZW5zaWJsZSBIb3N0IENvbnRyb2xsZXIA
		</data>
		<key>name</key>
		<data>
		UFhTWAA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		UENJIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQQ0kgRXhwcmVzcyBSb290IFBvcnQgOQA=
		</data>
		<key>name</key>
		<data>
		UlAwOQA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>device_type</key>
		<data>
		SVNBIGJyaWRnZQA=
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQjQ2MCBDaGlwc2V0IExQQy9lU1BJIENvbnRyb2xsZXIA
		</data>
		<key>name</key>
		<data>
		TFBDQgA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1F,0x2)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>IOPCIMSIMode</key>
		<data>
		AQAAAA==
		</data>
		<key>compatible</key>
		<data>
		cGNpODA4NixhMmExAA==
		</data>
		<key>device_type</key>
		<data>
		TWVtb3J5IGNvbnRyb2xsZXIA
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBQb3dlciBNYW5hZ2VtZW50IENvbnRyb2xsZXIg
		KFBNQykA
		</data>
		<key>name</key>
		<data>
		UFBNQwA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		QXVkaW8A
		</data>
		<key>device_type</key>
		<data>
		QXVkaW8gZGV2aWNlAA==
		</data>
		<key>layout-id</key>
		<data>
		AQAAAA==
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBjQVZTAA==
		</data>
		<key>name</key>
		<data>
		SERFRgA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x1F,0x4)</key>
	<dict>
		<key>AAPL,slot-name</key>
		<data>
		SW50ZXJuYWwA
		</data>
		<key>IOPCIMSIMode</key>
		<data>
		AQAAAA==
		</data>
		<key>device_type</key>
		<data>
		U01CdXMA
		</data>
		<key>model</key>
		<data>
		SW50ZWwgQ29tZXQgTGFrZSBTTUJ1cyBDb250cm9sbGVyAA==
		</data>
		<key>name</key>
		<data>
		U0JVUwA=
		</data>
	</dict>
	<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
	<dict>
		<key>AAPL,ig-platform-id</key>
		<data>
		AwCRPg==
		</data>
		<key>AAPL,slot-name</key>
		<data>
		RGlzcGxheQA=
		</data>
		<key>built-in</key>
		<data>
		AQ==
		</data>
		<key>device-id</key>
		<data>
		mz4AAA==
		</data>
		<key>device_type</key>
		<data>
		RGlzcGxheSBjb250cm9sbGVyAA==
		</data>
		<key>enable-metal</key>
		<data>
		AQAAAA==
		</data>
		<key>hda-gfx</key>
		<data>
		b25ib2FyZC0xAA==
		</data>
		<key>igfxfw</key>
		<data>
		AgAAAA==
		</data>
		<key>igfxonln</key>
		<data>
		AQAAAA==
		</data>
		<key>iommu-selection</key>
		<data>
		AAAAAA==
		</data>
		<key>rps-control</key>
		<data>
		AQAAAA==
		</data>
	</dict>
</dict>
</plist>
